body{
    font-family:"Agency FB";
    font-weight:100;
    margin:0;
}

.container{
    padding-left:20px;
    padding-top:80px;
    letter-spacing:5px;
    font-size:50px;
    opacity:0.8;
}

.picture{
    background-image: url(tastypizza.jpg);
    height:700px;
    text-align: center;
    color:white;
    opacity:0.8;
}

.logo ul{
 padding:0;
    margin:0;
    position:absolute;
    
}

.logo li{
    list-style:none;
   float:left;
    margin-top:3px;
   
}

.logo a{
    width:80px;
    display:inline-block;
    font-size:20px;
    padding:15px;
    text-align: center;
}

header{
    height:60px;
    width:100%;
    background-color:rgb(34,49,52,0.6);
    color:white;
    position:fixed;
    z-index: 10;
    font-size: 15px;
}



.logo li:hover{
    background-color: darkgrey;
    color:black;
    cursor:pointer;
    transition:0.9s;
    border-radius: 12px;

}


.menu{
    color:white;
    display:inline-block;
    padding:10px 20px;
    background-color:black;
    font-size:40px;
    opacity:1;
    margin-top:50px;
    font-weight: bold;
    border-radius: 10px;
}

a{
    text-decoration:none;
    color:white;
}

.menu:hover{
     background-color: darkgrey;
    color:black;
    cursor:pointer;
    transition:1s;

}

.menu-name{
    padding-top:60px;
    color:white;
    text-align:center;
    font-size:30px;
    padding-bottom:60px;
}

.picture-2{
    background-color: black;
    height:2100px;

}

.menu-list{
    color:black;
    text-align:left;
    margin-top:100px;
    padding-top: 40px; 
    padding-bottom:50px;
    margin-bottom:60px;
 
}

.container-2{
  background-color:white;
    height:1630px;
    opacity:0.9;
    background-position:center;
    background-repeat: no-repeat;
    margin-left: 100px;
margin-right:100px;
    
}

.menu-list li{
    list-style: none;
}
     

.dollar1{
    display:inblock-block;
    padding:15px 10px;
    background-color:red;
    color:white;
    cursor:default;
    border-radius:10px;

}

.formaggo{
    padding-top:80px;
}
.chicken{
    padding-top:80px;
}
.pineapple{
    padding-top:80px;
}
.meat{
    padding-top:80px;
}

.about{
    height:1600px;
    background-color: darksalmon;
   padding-top:60px;
    color:white;
    text-align:center;
    font-size:30px;
    padding-bottom:60px;
 
    }
.about p{
    padding-top:40px;
    line-height: 30px;
    text-align: left;
    margin-left: 150px;
}

.interior{
    height:600px;
    background-image: url(interior.jpg);
    width:75%;
    background-size:cover;
    margin-top:50px;
    margin-left:150px;
    margin-right:150px;
}

.opening{
    text-align:left;
    margin-left:150px;
}
.contact-container{
    height:1200px;
    background-color:dimgrey;
   
    color:white;
    font-size:30px;
    padding-top:60px;
    padding-top:60px;
}
.contact{
    padding-bottom:30px;
    text-align:center;
    
}
.contact-para{
    text-align:left;
    margin-left:150px;
    padding-bottom: 60px;
    margin-right: 110px;
}

span{
    color:red;
}

.form {
    margin-left: 150px;
    
}
.form input,textarea{
    width:700px;
    height:30px;
    padding:20px;
    boder:1px solid #dee7ec;
    font-size:20px
    
}
.button{
    margin-top:70px;
    background-color: #dee7ec;
    margin-left: 150px;
    height:60px;
    width:700px;
    
}

.button:hover{
    cursor:pointer;
}
